<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAPP"
        tools:targetApi="31">
        <activity
            android:name=".Likes"
            android:exported="false" />
        <activity
            android:name=".Tutorilass"
            android:exported="false" />
        <!--
 <activity
            android:name=".AllIdeas"
            android:exported="false" />
        -->
        <activity
            android:name=".Authorization"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewIdea"
            android:exported="true">
            <intent-filter>
                <action android:name=".NewIdea" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tessst"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RedactionIdea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserIdeas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FavoriteIdeas"
            android:screenOrientation="portrait" />
    </application>

</manifest>